{;; You will likely want to copy this file to config/prod/config.edn and make
 ;; changes there. See docs/configuring.md for information on these fields.
 :server-port 5000
 :logging-level "info"
 :google-analytics nil
 :bluegenes-tool-path "./tools"
 :bluegenes-default-service-root "https://www.alliancegenome.org/alliancemine/"
 :bluegenes-default-mine-name "AllianceMine"
 :bluegenes-default-namespace "alliancemine"
 :bluegenes-additional-mines [
                               {
                                :root "http://intermine.wormbase.org/tools/wormmine"
                                :name "WormMine"
                                :namespace "wormmine"
                                }
                               {
                                :root "https://yeastmine.yeastgenome.org/yeastmine"
                                :name "YeastMine"
                                :namespace "yeastmine"
                                }
;;                               {
;;                                :root "http://http://www.mousemine.org/mousemine/"
;;                               :name "MouseMine"
;;                                :namespace "mousemine"
;;                                }
                              ]
 :hide-registry-mines true
 }
